.test{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 250px;
    width: 35%;
    height: 322px;
    border-radius: 10px;
    background-color: #313A48;
}

.btn{
    background-color: #53FFAA;
    border-radius: 50px;
    width: 64px;
    height: 64px;
    margin-top: 320px;
}

.btn:hover{
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}